<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.1.1/css/ol.css" type="text/css">
    <style>
        .map {
            height: 500px;
            width: 100%;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.1.1/build/ol.js"></script>
    <title>OSGEO Web Scraper</title>
</head>

<body>
    <!--<div id="map" class="map"></div>-->
    <script type="text/javascript">
        fetch('/data')
            .then(function (response) {
                return response.json();
            })
            .then(function (json) {
                console.log('GET response as JSON:');
                console.log(json);
                for (var i = 0; i < json.d.length; i++) {
                    console.log(json.d[i].location);
                    var h2 = document.createElement("h2");
                    h2.innerHTML = json.d[i].name;
                    document.body.appendChild(h2);
                    var div = document.createElement("div");
                    div.id = json.d[i].name;
                    div.className = 'map';
                    document.body.appendChild(div);
                    var map = new ol.Map({
                        target: json.d[i].name,
                        layers: [
                            new ol.layer.Tile({
                                source: new ol.source.OSM()
                            })
                        ],
                        view: new ol.View({
                            center: ol.proj.fromLonLat(json.d[i].location),
                            zoom: 15
                        })
                    });

                }
            })


    </script>
</body>

</html>
